<template>
  <div id="add-new-movie-form">
    <div id="error-message" v-if="errorMessage">{{errorMessage}}</div>
    <div id="movie-name-div">
      <label for="movie-name" class="label">Name of the movie:</label>
      <br>
      <input
        type="text"
        name="movie-name"
        id="movie-name-input"
        v-model="newMovieData.name"
        class="input"
      >
    </div>
    <div id="movie-img-div">
      <label for="movie-poster" class="label">URL of the movie poster:</label>
      <br>
      <input
        type="url"
        name="movie-poster"
        id="movie-poster-url-input"
        v-model="newMovieData.img"
        class="input"
      >
    </div>
    <div id="movie-summary-div">
      <label for="movie-summary" class="label">Summary of the movie:</label>
      <br>
      <textarea
        name="movie-summary"
        id="movie-summary-textarea"
        v-model="newMovieData.summary"
        class="textarea"
      ></textarea>
    </div>
    <button id="add-movie-button" @click="handleAddMovie" class="button">Add Movie</button>
  </div>
</template>

<script>
export default {
  name: "add-new-movie-form",
  data() {
    return {
      newMovieData: {
        name: "",
        img: "",
        summary: ""
      },
      errorMessage: ""
    };
  },
  methods: {
    handleAddMovie() {
      if (
        this.newMovieData.name &&
        this.newMovieData.img &&
        this.newMovieData.summary
      ) {
        this.errorMessage = "";

        const newMovie = {
          name: this.newMovieData.name,
          img: this.newMovieData.img,
          summary: this.newMovieData.summary
        };

        this.$emit("newMovieAdded", newMovie);
        this.clearNewMovieData();
      } else {
        this.errorMessage = "Please fill in all the movie details";
      }
    },
    clearNewMovieData() {
      this.newMovieData.name = "";
      this.newMovieData.img = "";
      this.newMovieData.summary = "";
    }
  }
};
</script>

<style scoped>
#add-new-movie-form {
  display: block;
  position: relative;
  bottom: 0px;
  height: 100vh;
  background-color: #f4f4f4;
}

#error-message {
  display: block;
  background: #e53935;
  padding: 2vh;
  color: #f4f4f4;
  font-size: 2vw;
  align-items: center;
}

#movie-name-div {
  position: relative;
  top: 5vh;
  left: 2vw;
  width: 50vw;
}

#movie-img-div {
  position: relative;
  top: 10vh;
  left: 2vw;
  width: 50vw;
}

#movie-summary-div {
  position: relative;
  top: 15vh;
  left: 2vw;
  width: 50vw;
}

#add-movie-button {
  position: relative;
  top: 20vh;
  left: 2vw;
}

.label {
  font-size: 2.5vw;
  color: #373737;
}

.input {
  all: unset;
  width: 40vw;
  border: 1px solid #373737;
  color: #373737;
  font-size: 2vw;
  padding: 5px;
  border-radius: 2px;
}

.textarea {
  all: unset;
  border: 1px solid #373737;
  border-radius: 2px;
  font-size: 2vw;
  padding: 5px;
  height: 25vh;
  width: 40vw;
}

.button {
  all: unset;
  cursor: pointer;
  font-size: 2.5vw;
  padding: 10px;
  color: #373737;
  background-color: #f4f4f4;
  border: 3px solid #373737;
  border-radius: 2px;
  transition: box-shadow ease-in-out 300ms;
}

.button:hover {
  box-shadow: 3px 6px 7px 0px #373737;
}

.button:active {
  font-size: 2.4vw;
}
</style>
