<template>
  <div :id="`movie-card`" v-on:click="summaryIsVisible = !summaryIsVisible">
    <h1>{{ movie.name }}</h1>
    <img :src="movie.img" :alt="`An image of ${movie.name}`">
    <div class="movie-summary" v-if="summaryIsVisible">
      <h2>Summary</h2>
      <p>{{ movie.summary }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "movie-card",
  props: ["movie"],
  data() {
    return {
      summaryIsVisible: false
    };
  }
};
</script>

<style scoped>
#movie-card {
  display: block;
  cursor: pointer;
  position: relative;
  height: auto;
  width: auto;
  padding: 0px;
  border-bottom: 3px solid #373737;
  border-radius: 3px;
  color: #373737;
  background-color: #f4f4f4;
}

#movie-card h1 {
  all: unset;
  position: absolute;
  font-size: 5vw;
  left: 35vw;
  top: 15vh;
}

#movie-card img {
  width: 25vw;
  margin: 1vw;
  border: 10px solid #3c3d3d;
  border-radius: 3px;
}

.movie-summary {
  position: relative;
  width: 90vw;
  margin: 1vw;
}

.movie-summary h2 {
  all: unset;
  font-size: 4vw;
}

.movie-summary p {
  font-size: 2.5vw;
}

@media only screen and (max-width: 500px) {
  #movie-card {
    position: relative;
    min-height: 100vh;
    height: auto;
    overflow: auto;
  }

  #movie-card h1 {
    position: absolute;
    top: 1vh;
    left: 2vw;
    height: auto;
    margin: 2vh;
    font-size: 8vw;
  }

  #movie-card img {
    position: relative;
    top: 15vh;
    left: 10vw;
    width: 75%;
  }

  .movie-summary {
    position: relative;
    top: 20vh;
  }

  .movie-summary h2 {
    font-size: 6vw;
  }

  .movie-summary p {
    font-size: 4.5vw;
  }
}
</style>
