<template>
  <div id="movie-list">
    <div v-for="(movie, index) in movieData" v-bind:key="index">
      <MovieCard v-bind:movie="movie"/>
    </div>
  </div>
</template>

<script>
import MovieCard from "./MovieCard";

export default {
  name: "movie-list",
  props: ["movieData"],
  components: {
    MovieCard
  }
};
</script>

<style scoped>
</style>
