<template>
  <div id="movies-app">
    <MovieList v-bind:movie-data="movieData"/>
    <AddNewMovieForm @newMovieAdded="addNewMovieToMovieList"/>
  </div>
</template>

<script>
import axios from "axios";
import MovieList from "./components/MovieList";
import AddNewMovieForm from "./components/AddNewMovieForm";

export default {
  name: "movies-app",
  data() {
    return {
      movieData: []
    };
  },
  mounted() {
    axios
      .get(
        "https://aca76bf1-86e6-4e14-b1cd-6fda5d603e30.mock.pstmn.io/movieapi"
      )
      .then(response => {
        let movieDataFromApi = eval(response.data);
        movieDataFromApi.forEach(movie => {
          this.movieData.push(movie);
        });
      });
  },
  components: {
    MovieList,
    AddNewMovieForm
  },
  methods: {
    addNewMovieToMovieList(newMovie) {
      this.movieData.push(newMovie);
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
